        .logo img {
            width: 167px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .right ul {
            display: flex;
            gap: 34px;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .right ul li span {
            padding: 0 4px;
        }

        .text img {
            width: 50px;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 46px;
            margin: 70px;
            font-family: sans-serif;
        }

        .first span {
            font-size: 47px;
        }

        section span img {
            width: 44px;
            margin: 0 23px;
        }

        .first div {
            font-size: 19px;
            width: 34vw;
            text-align: center;
        }

        button {
            background-color: rgb(50, 222, 249);
            color: white;
            border-radius: 6px;
            border: none;
            font-weight: 700;
            padding: 14px 16px;
            cursor: pointer;
            margin: 12px 0;
        }

        button a {
            text-decoration: none;
            color: white;
        }

        .apple img {
            width: 30px;
        }

        .second span {
            font-size: 26px;
            ;
        }

        .second {
            max-width: 70vw;
            margin: auto;
        }

        .DU {
            font-size: 25px;
            font-weight: bold;
            margin: 3px;
            align-items: center;
        }

        .green {
            background-color: rgb(16, 226, 237);
        }

        .red {
            background-color: rgb(21, 239, 21);
        }

        .item {
            margin-top: 23px;
            padding: 23px;
            background: #ebe9e9;
            border-radius: 12px;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        .item-lang {
            font-weight: 600;
            text-align: center;
            padding-bottom: 12px;
        }

        .item2-lang {
            font-weight: 400;
            text-align: center;
            padding-bottom: 12px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 26px;
        }

        .download :nth-child(2) {
            font-size: 31px;
        }

        .download :nth-child(3) {
            font-size: 21px;
        }

        .download img {
            padding: 0px 12px;
        }

        .download {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: sans-serif;
        }

        @media screen and (max-width: 1145px) {
            .grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 26px;
            }
        }